<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>Проект 4</title>
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="header-inner">
        <a href="#"><img src="./logo/logo.png" alt="Logo" class="logo"></a>
        <nav class="header-nav">
          <ul class="header-list">
            <li class="header-items">
              <a href="#">Меню</a>
            </li>
            <li class="header-items">
              <a href="#">Меню</a>
            </li>
            <li class="header-items">
              <a href="#">Меню</a>
            </li>
            <li class="header-items">
              <a href="#">Меню</a>
            </li>
          </ul>
        </nav>
        <a class="header-button" href="#">Войти</a>
      </div>
    </div>
  </header>
  <main>
    <section class="hero">
      <div class="container">
        <h1 class="hero-title">
          Заголовок
        </h1>
        <div class="hero-inner">
          <div class="hero-texts">
            <p class="paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.<span> ipsum lorem</span>
            </p>

            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.</p>
          </div>
          <div class="hero-buttons">
            <div class="hero-button1">
              <a href="#">Кнопка</a>
            </div>
            <div class="hero-button2">
              <a href="3">Кнопка</a>
              <img src="./logo/like.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cards">
      <div class="container">
        <h2 class="cards-title">
          Заголовок
        </h2>
        <p class="cards-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        <div class="cards-flex">
          <ul class="cards-flex">
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
            <li class="cards-flex-item">
              <div class="cards-flex-inner">
                <h3 class="cards-flex-title">
                  Заголовок
                </h3>
                <p class="cards-flex-text">
                  Lorem ipsum dolor sit amet
                </p>
              </div>
            </li>
          </ul>
        </div>
        <a class="cards-button1" href="#">Кнопка</a>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-desk">
          <a href="#"><img src="./logo/logo.png" alt="лого"></a>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
        <div class="footer-colomn1">
          <h4 class="footer-title">
            Столбик
          </h4>
          <ul class="footer-list">
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
          </ul>
        </div>
        <div class="footer-colomn2">
          <h4 class="footer-title">
            Столбик
          </h4>
          <ul class="footer-list">
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
            <li class="footer-item">Меню
              <a href="#" class="footer-link"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>