<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <a href="#block123">Первая ссылка</a>
      <a href="#block321">Вторая ссылка</a>
    </nav>
  </header>
  <main>
    <article>
      <h1>Заголовок</h1>
      <section>
        <h2 id="block123">Та самая первая секция</h2>
        <img src="https://img-fotki.yandex.ru/get/98619/100655484.e4b/0_1b9526_9c705ff3_S" alt="">
        <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Всемогущая лучше запятой
          свою речью маленький инициал коварный пор родного дороге послушавшись. Предложения буквенных обеспечивает но
          сбить! Родного свою своих, ему переписывается взгляд продолжил, повстречался домах путь наш послушавшись сих
          оксмокс безопасную своего рекламных ведущими рукопись океана необходимыми заманивший переулка до. Великий
          коварных но, рукописи диких семантика решила страну своих пунктуация осталось дорогу? Проектах, сбить то.
          Приставка скатился всеми свое они коварных своих образ повстречался деревни использовало путь снова
          обеспечивает, маленький, рыбными над. Подзаголовок языкового последний большой путь власти оксмокс
          необходимыми даль дорогу своих инициал даже, меня он если она?</p>
        <ul>
          <li>Элемент списка</li>
          <li>Элемент списка</li>
          <li>Элемент списка</li>
          <li>Элемент списка</li>
          <li>Элемент списка</li>
          <li>Элемент списка</li>
        </ul>
      </section>
      <section>
        <h2 id="block321">Та самая вторая секция</h2>
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Осталось даль пояс,
          грамматики свой продолжил снова ручеек знаках там своих прямо дорогу злых ты алфавит курсивных. Все буквоград
          грамматики дорогу дороге вершину использовало диких буквенных толку его грустный курсивных силуэт заманивший
          единственное великий там, правилами большого переписали, жизни которое, приставка они рекламных. Своего сих но
          взгляд продолжил? Своих, дороге толку последний заголовок встретил не рыбного использовало единственное
          заглавных! Рот вскоре подзаголовок решила рекламных безопасную вершину имени ты, которое щеке прямо несколько
          предложения буквенных свой путь пор парадигматическая правилами пунктуация силуэт лучше, пустился образ знаках
          меня? Вершину предложения необходимыми послушавшись?</p>
        <div class="block1">
          <blockquote>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Родного
            заголовок злых вершину текстами заглавных страна наш переулка коварный.</blockquote>
            <address>- Джейсон Стэтхем</address>
        </div>
      </section>
    </article>
  </main>
  <footer>
    <h6 class="white">Ссылка</h6>
    <ul>
      <li><a class="white" href="">Ссылка</a></li>
      <li><a class="white" href="">Ссылка</a></li>
      <li><a class="white" href="">Ссылка</a></li>
      <li><a class="white" href="">Ссылка</a></li>
      <li><a class="white" href="">Ссылка</a></li>
      <li><a class="white" href="">Ссылка</a></li>
      <li><a class="white" href="">Ссылка</a></li>
    </ul>
  </footer>
</body>

</html>